# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*.pyo

# ==============================
# Jupyter Notebook
# ==============================
.ipynb_checkpoints/

# ==============================
# Virtual environments
# ==============================
venv/
env/
.venv/

# ==============================
# Dataset
# ==============================
data/
dataset/
datasets/
*.zip

# ==============================
# Trained model files
# ==============================
*.pth
*.pt
*.ckpt
*.onnx

# ==============================
# Secrets
# ==============================
.env
.streamlit/secrets.toml

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Temporary files
# ==============================
*.tmp
*.log